body {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
h2
{
	color: black;
	text-align: center;
	margin: 0 auto;
  text-decoration: underline;
  font-size: 40px;
  font: bold 50px/50px Georgia, serif;
  text-shadow: 2px 2px 5px green;
}
#playercards
{
  position: absolute;
  top: 70px;
  left: 520px;
	padding: 0.8%;
  font-size:25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
    text-shadow: -1px 0 white, 0 2px white, 1px 0 white, 0 -1px white;
}
#dealercards
{
  position: absolute;
  top: 350px;
  left: 520px;
  padding: 0.8%;
	font-size:25px;
  height: 280px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-shadow: -1px 0 white, 0 2px white, 1px 0 white, 0 -1px white;
}
#ps
{
  position: absolute;
  top: 24px;
  left: 380px;
  padding: 0.8%;
	font-size:20px;
  height: 280px;
  font-family: Arial, Helvetica, sans-serif;
}
#p
{
  position: absolute;
  top: 24px;
  left: 240px;
  padding: 0.8%;
	font-size:20px;
  height: 280px;
  padding: 0.8%;
  height: 280px;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}
#ds
{
  position: absolute;
  top: 27px;
  left: 380px;
  padding: 0.8%;
	font-size:20px;
  height: 280px;
  font-family: Arial, Helvetica, sans-serif;
}
#d
{
  position: absolute;
  top: 27px;
  left: 230px;
  padding: 0.8%;
	font-size:20px;
  height: 280px;
  padding: 0.8%;
  height: 280px;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}
h3
{
	font-size:22px;
}
#dealBtn
{
	position:absolute;
  top: 400px;
  left: 240px;
}
#replayBtn
{
  position: absolute;
  bottom: 40px;
  left: 870px;
}
#hitBtn{
  position:absolute;
  right: 600px;
  top: 300px;
}
#doubleBtn{
  position:absolute;
  right: 570px;
  top: 500px;
}
#splitBtn{
  position:absolute;
  right: 600px;
  top: 600px;
}
#standBtn{
  position:absolute;
  right: 580px;
  top: 400px;
}
#hitBtn,#doubleBtn,#splitBtn,#standBtn
{
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 80px;
  border: 2px solid #4CAF50;
}

#hitBtn:hover,#doubleBtn:hover,#splitBtn:hover,#standBtn:hover {background-color: #3e8e41}
#hitBtn:active,#doubleBtn:active,#splitBtn:active,#standBtn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#dealBtn,#replayBtn
{
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 80px;
  border: 2px solid #4CAF50;
  -webkit-animation: mymove 1s infinite;
  animation: mymove 1s infinite;
}
#dealBtn:hover,#replayBtn:hover{background-color: #3e8e41}
#dealBtn:active,#replayBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#c10{
  position:absolute;
  top: 550px;
  left: 200px;
  height: auto;
  max-width: 100%;
}
#c11{
  position:absolute;
  top: 650px;
  left: 130px;
}
#c100{
  position:absolute;
  top: 650px;
  left: 270px;
}
#b
{
  position:absolute;
  top: 300px;
  left: 270px;
  font-family: Arial, Helvetica, sans-serif;
}
#am{
  position:absolute;
  top: 99px;
  left: 240px;
  font-family: Arial, Helvetica, sans-serif;
}
#total{
  position:absolute;
  top: 98px;
  left: 340px;
  font-family: Arial, Helvetica, sans-serif;
}
#dealc{
  position:absolute;
  top: 200px;
  left: 220px;
  font-family: Arial, Helvetica, sans-serif;
}
#res
{
  position: absolute;
  bottom: 40px;
  left: 620px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  font-family: Arial, Helvetica, sans-serif;
}
#res2
{
  position: absolute;
  bottom:100px;
  left: 620px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  font-family: Arial, Helvetica, sans-serif;
}
#r{
  position: absolute;
  right: 200px;
  top: 500px
  font-size:15px;
}
#c1{
  position: absolute;
z-index: auto;
}
#c2{
  position: absolute;
  left:60px;
  z-index:1;
}
#s1{
  position: absolute;
  left:110px;
  z-index:2;
}
#s2{
  position: absolute;
  left:160px;
  z-index:3;
}
#s3{
  position: absolute;
  left:210px;
  z-index:4;
}
#s4{
  position: absolute;
  left:260px;
  z-index:5;
}
#c4{
  position: absolute;
z-index: auto;
}
#c3{
  position: absolute;
  left:60px;
  z-index:1;
}
#d1{
  position: absolute;
  left:110px;
  z-index:2;
}
#d2{
  position: absolute;
  left:160px;
  z-index:3;
}
#d3{
  position: absolute;
  left:210px;
  z-index:4;
}
#s4{
  position: absolute;
  left:260px;
  z-index:5;
}
